.logoMenu{
  height: 50px;
}

.dropdown-content {
  width: 190px !important;
}

.sidenav a, .dropdown-content a{
  color: #424242 !important;
}

.section-search input {
  padding: 5px !important;
  font-size: 18px !important;
  width: 90% !important;
  border: #f4f4f4 3px solid !important;
}

.section-follow .fa-3x {
  transition: 0.2s;
  margin: 5px 25px;
}

.fa-facebook:hover {
  transition: 0.2s;
  transform: scale(1.09);
  color: #3C5A99;

}

.fa-twitter:hover {
  transition: 0.2s;
  transform: scale(1.09);
  color: #1DA1F2;
}

.fa-instagram:hover {
  transition: 0.2s;
  transform: scale(1.09);
  color: #405DE6;
}

.cardZoom{
  transition: 0.2s;
}

.cardZoom:hover{
  transition: 0.2s;
  transform: scale(1.04);
}
